html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: orange;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: aliceblue;
}

.headliner{
    justify-self: center;
    text-align: center; 
    margin-top: 2.5%;
    background-color: rgb(40, 40, 43);
    border-style: inset;
    border-radius: 20%;
    /* border-color: rgb(40, 40, 43); */
    border-width: 10pt;
    width: 80%;
}

.introduction{
    justify-self: center;
    text-align: center; 
    margin: 5%;
    background-color: rgb(40, 40, 43);
    width: 60%;
    height: auto;
    border-radius: 20%;
    /* border-width: 10pt;
    border-style: inset; */
}

.projectsContainer{
    text-align: center;
    margin: 5%;
    justify-items: center;
}

.projectTitle{
    /* text-align: center; */
    background-color: rgb(40, 40, 43);
    width: 80%;
    height: auto;
    border-radius: 20%;
    border-style: inset;
    border-width: 10pt;
}

.project img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5%;
}

.project{
    margin-bottom: 10%;
    background-color: rgb(40, 40, 43);
    border-radius: 5%;
    width: 70%;
    height: auto;
    display: block;
    align-content: center;
    /* border-width: 10pt;
    border-style: inset; */
}

.project p, h3, h4, a{
    /* text-align: center; */
    margin: 15pt;
}

a:link {
  color: aliceblue;
  background-color: transparent;
  text-decoration: none;
  font-size: xx-large;
}
a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
