html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.project img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}